br
h1(style="font-size:28px;") MUYIWA JS
br
div.topics
   a(href="http://www.facebook.com/ojimisa", style="font-size:20px;") Facebook
   a(href="http://www.twitter.com/jimisir", style="font-size:20px;") Twitter
   a(href="http://www.linkedin.com/pub/muyiwa-jimi-salami/2a/b39/222", style="font-size:20px;") LinkedIn
   a(href="http://www.facebook.com/ojimisa", style="font-size:20px;") Github
   a(href="http://www.posterous.com/jimisir", style="font-size:20px;") Blog
hr
div#all-projects
   h2(style="font-size:20px; color: #AAA;") Project's I have done
   br
   div.project
      a(href="http://samb.webfactional.com/outloudio")
         div.project-image 
            img(src="/images/Outloudio.png")
      div.project-description
         p Built at Startup Weekend Chicago. It's a personalized audio news streams, on-demand
   div.project
      a(href="http://luluaphotoarts.com/")
         div.project-image 
            img(src="/images/lulua.png")
      div.project-description
         p Hacked WordPress to create website for 
         a(href="http://www.facebook.com/Lulu.Akintorin") Lulu
hr
h2(style="font-size:20px; color: #AAA;") About Me
br
div#about-me
   p 
   | I'm in my final semester at the Illinois Institue of Technology studying Electrical Engineering. Recently just started 
   | getting excited about startups and how the things you build can change the reality of someone else's existence. I'm a hacker
   | and I'm interested in stuff that can do that. 