br
h1.center(style="font-size:28px;") Muyiwa Jimi-Salami
h2.center (Hustler)
br
div.topics.center
   a(href="http://www.facebook.com/ojimisa", style="font-size:20px;") Facebook
   a(href="http://www.twitter.com/jimisir", style="font-size:20px;") Twitter
   a(href="http://www.linkedin.com/in/jimisir", style="font-size:20px;") LinkedIn
   a(href="http://www.facebook.com/ojimisa", style="font-size:20px;") Github
   a(href="http://www.posterous.com/jimisir", style="font-size:20px;") Blog
hr
div#all-projects
   h2(style="font-size:20px; color: #AAA;") Project's I have done
   br
   div.project
      a(href="http://samb.webfactional.com/outloudio")
         div.project-image 
            img(src="/images/Outloudio.png")
      div.project-description
         p Built at Startup Weekend Chicago. It's a personalized audio news streams, on-demand
   div.project
      a(href="http://luluaphotoarts.com/")
         div.project-image 
            img(src="/images/lulua.png", height='77px', width='180px', style="border:1px solid black;")
      div.project-description
         p 
         | Hacked WordPress to create website for 
         span
            a(href="http://www.facebook.com/Lulu.Akintorin") Lulu Photoarts
   div.project
      a(href="http://topupgenie.com")
         div.project-image 
            img(src="/images/topup.png", height='77px', width='180px', style="border:1px solid black;")
      div.project-description
         p Currently working on porting this website from PHP to Ruby on Rails and extending it's functionality
hr
h2(style="font-size:20px; color: #AAA;") About Me
br
div#about-me
   p 
<<<<<<< HEAD
   | December '11 Bachelors in Electrical Engineering from the Illinois Institute of Technology. Recently just started 
   | getting excited about startups and how the things you build there can change the reality of someone else's existence. I'm a hacker
   | and I'm interested in creating cool things that can do that. 
