button.blue-pill, input.blue-pill {
  margin: 10px auto 12px auto;
  background: #A5B8DA;
  background: -moz-linear-gradient(0% 100% 90deg, #7089B3, #A5B8DA);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A5B8DA), to(#7089B3));
  border-top: 1px solid #758FBA;
  border-right: 1px solid #6C84AB;
  border-bottom: 1px solid #5C6F91;
  border-left: 1px solid #6C84AB;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 0 #AEC3E5;
  -webkit-box-shadow: inset 0 1px 0 0 #AEC3E5;
  box-shadow: inset 0 1px 0 0 #AEC3E5;
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 5px 7px 5px 7px;
  text-align: center;
  text-shadow: 0 -1px 1px #64799E;
  text-transform: uppercase;
  box-shadow: 0px 1px 4px #B9B9B9;
  -moz-box-shadow: 0px 1px 4px #B9B9B9;
  -webkit-box-shadow: 0px 1px 4px #B9B9B9;
}


button.blue-pill:hover,
input.blue-pill:hover
{
  background: #9badcc;
  background: -moz-linear-gradient(0% 100% 90deg, #687fa6, #9badcc);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9badcc), to(#687fa6));
  border-top: 1px solid #6d86ad;
  border-right: 1px solid #647a9e;
  border-bottom: 1px solid #546685;
  border-left: 1px solid #647a9e;
  -moz-box-shadow: inset 0 1px 0 0 #a5b9d9;
  -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
  box-shadow: inset 0 1px 0 0 #a5b9d9;
  cursor: pointer;
}

button.blue-pill:active,
input.blue-pill:active
{
  border: 1px solid #546685;
  -moz-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eee;
}

.mod-ui-button
{
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 0px;
  text-shadow: 0 -1px 1px #64799E;
}

/* Fb like buttons */
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover {
  background: #EEE url(http://static.ak.fbcdn.net/rsrc.php/v1/zD/r/B4K_BWwP7P5.png) repeat 0 0;
  border: 1px solid #999;
  border-bottom-color: #888;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  cursor: pointer;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: normal !important;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}

.uiButtonConfirm {
  background-color: #5B74A8;
  background-position: 0 -48px;
  border-color: #29447E #29447E #1A356E;
}

.uiButton .uiButtonText, .uiButton input {
  background: none;
  border: 0;
  color: #333;
  cursor: pointer;
  display: -moz-inline-box;
  display: inline-block;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  outline: none;
  padding: 1px 0 2px;
  white-space: nowrap;
}

.uiButtonSpecial .uiButtonText, 
.uiButtonSpecial input, 
.uiButtonSpecial.uiButtonDisabled .uiButtonText, 
.uiButtonSpecial.uiButtonDisabled input, 
.uiButtonConfirm .uiButtonText, .uiButtonConfirm input, 
.uiButtonConfirm.uiButtonDisabled .uiButtonText, .uiButtonConfirm.uiButtonDisabled input {
color: white;
}
/* end */

/* Big yellow button */
.btnYellow {
  color: #333;
  text-shadow: 0 1px 0 #FEF397;
  border: 1px solid #F49E13;
  background-color: #FFD43F;
  background-image: -moz-linear-gradient(top,#FFD43F,#FFA942);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFD43F),to(#FFA942));
}

#description .btnYellow {
  padding: 10px 15px;
  font-size: 110%;
}

.btnGreen, .btnYellow, .btnWhite {
  padding: 2px 7px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 4px!important;
  border-radius: 4px!important;
}