.w4
{
	width:430px;
}

.dialog
{
	background:rgba(0,0,0,0.5);
	border-radius:10px;
	padding:10px;
	overflow:hidden;
	z-index:99;
	cursor:default;
}
    .dialog .dialog-wrapper
    {
        background:white;
        border-radius:3px;
        float:left;
        padding:7px 10px 10px;
        max-width:100%;
        width:auto;
    }
    .dialog .head
    {
        height:22px;
        overflow:hidden;
    }

    .form-buttons
    {
        clear:both;
        float:none;
        margin:10px 0px 0px;
        text-align:right;
        width:auto;
        background:#D0D2D3;
        background:#F2F2F2;
        border-top:1px solid grey;
        padding-right:5px;
    }

#compose_update
{
    background-color:#19558D;
    border:1px solid black;
    color:white;
    padding:5px;
    position:fixed;
    cursor:pointer;
    text-shadow:#19558d 0px -1px;
}
.row{
    clear: both;
    float: left;
    width: 100%;
}
div.soc_networks_buttons_wrapper{
    margin: 0 0 5px;  
}
    .soc_networks_buttons{
        float: left;
        font-size: .8em;
        list-style: none;
        margin: 0; 
    }
    .soc_networks_buttons .soc_networks_button {
        background: url(http://d1vgw4v7ja2ido.cloudfront.net/-b44d0948a4b53532.gif) repeat-x top left;
        border-bottom: 1px solid #E0E0E0;
        float: left;
    }
    .soc_networks_buttons li {
        margin-bottom: 0;
    }
    .soc_networks_buttons .soc_networks_button a {
        border: 1px solid #999;
        border-bottom: 1px solid #666;
        cursor: pointer;
        float: left;
        font-family: Georgia,default;
        font-size: 11px;
        font-weight: bold;
        height: 14px;
        line-height: 11px;
        margin-right: -1px;
        padding: 4px 2px 3px;
        text-align: center;
        text-shadow: 0 1px white;
        width: 18px;
    }
    .qtext_editor_button_active,.soc_networks_buttons .soc_networks_button a:active {
        background-color: silver;
    }
    .soc_networks_buttons .soc_networks_sep {
        border: 0;
        float: left;
        padding: .2em 0 .4em;
        width: .8em;
    }
    
.notification
{
  background:none repeat scroll 0 0 #FFF6BF;
  border:1px solid #F7DA77;
  text-align: center;
}
div#retweet_container{
    margin-top:5px;
}
    #retweet_container div#retweet_image{
        float:left;
        width:15%;
        margin-right:10px;
    }
    #retweet_container div#retweet_message{
        float:left;
        width:75%;
    }